*   {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

[id="menu"] h1,
footer h3 {
    font-family: 'Shrikhand', cursive;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

@media screen and (max-width: 768px) {
    .header_logo     {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 13px;
        padding-top: 14px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 

        .logo_omf {
            width: 50%;
            padding: 14px 13px 0px 0px;
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        gap: 14px;
        padding-left: 20px;
        background: var(--grey-2, #EAEAEA);
        color: var(--grey, #353535); 

        .form_search {
            border: 2px solid var(--grey-2, #EAEAEA);
            background-color: solid var(--grey-2, #EAEAEA);
            color: var(--grey, #353535); 
            font-weight: bolder;
        }
    }

    .header_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 10px;
        background: var(--background, #F6F6F6);
        padding-bottom: 40px;

        h1 {
            font-weight: bolder;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0px;
        }
        a {
            margin-top: 10px;
        }
    }

    .btn_resto {
        $gradient: linear-gradient(193deg, #9356DC -11.44%, $secondary-color 123.93%);

        background: $gradient; 
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
        color: white;
        min-width: 218px;
        max-width: 100%;
        border-radius: 40px;
        padding: 13px 5px 13px 5px;
    }

    .list_nav {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 14px;
            padding: 0px;
        }
        
        .card_nav { 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid #F6F6F6;
            border-radius: 18px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            gap: 17px;
            background: var(--background, #F6F6F6); 
            margin-left: 12px;
            margin-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;

            &:hover span,
            &:focus span {
                color: $primary-color;            
            }
        }

        span {
            position: absolute;
            left: 60px;
            color: gray;
        }

        b {
            position: absolute;
            left: 29px;
        }
    }

    #restaurants {
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        padding-right: 18px;
        background: var(--background, #F6F6F6);
        padding-bottom: 30px;

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0px;
            gap: 18px;
        }

        .card_resto {
            position: relative;
            border: 1px solid #F6F6F6;
            background-color: white;
            border-radius: 15px;
            width: 100%;
        }

        figure {
            object-fit: cover;
        }

        figcaption {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        h3 {
            margin: 0px;
            margin-left: 13px;
            padding-top: 12px;
        }

        p {
            margin: 0px;
            margin-bottom: 12px;
            margin-left: 13px;
        }

        span {
            position: absolute;
            right: 10px;
            bottom: 55px;
        }

        img {
            width: 100%;
            height: 150px;
            object-fit:cover;
            border-radius: 15px 15px 0px 0px;
        }

        .pin_new {
            position: absolute;
            top: 9%;
            left: 83%;
            transform: translate(-50%, -50%);
            color: var(--green-font, #008766);
            font-weight: bolder;
            font-size: smaller;
            border: 2px solid #99E2D0;
            background-color: #99E2D0;
            padding: 2px 5px 2px 5px;
            border-radius: 2px;
        }
    }

    footer {    
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        background: var(--grey, #353535);
        color: white;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 0px;
            margin-top: 0px;
            gap: 5px;
        }

        a {
            color: white;
        }
    }
}