.header-menu img {
  width: 50%;
  margin: 15px;
}
.header-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu span {
  position: absolute;
  left: 17px;
  top: 30px;
}

#menu {
  background-color: var(--Background, #F6F6F6);
}

.main-menu img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-menu .content-menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  padding-bottom: 0px;
}
.main-menu h1 {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 25px;
  padding-left: 20px;
}

.header-content-menu {
  position: relative;
}
.header-content-menu i {
  position: absolute;
  right: 40px;
  top: 45px;
}
.header-content-menu .fa-heart {
  font-size: 25px;
  cursor: pointer;
}
.header-content-menu .heart_full {
  transition: all 500ms;
  opacity: 1;
  color: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #9356DC;
}
.header-content-menu .heart_empty {
  position: absolute;
  transition: all 500ms cubic-bezier(0.95, -0.58, 1, 1);
}
.header-content-menu input[type=checkbox] {
  display: none;
}
.header-content-menu input[type=checkbox]:checked ~ label .heart_empty {
  transform: scale(1);
}
.header-content-menu input[type=checkbox]:checked ~ label .heart_full {
  transition: all 300ms ease-in;
  transform: scale(0);
}

main article {
  display: flex;
  flex-direction: column;
  padding: 50px 0 60px 0;
}

.section-menu {
  padding-left: 15px;
  margin-bottom: 15px;
}
.section-menu h2 {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  opacity: 85%;
  border-bottom: 2px solid #99E2D0;
  width: 30px;
  padding-bottom: 5px;
}
.section-menu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  padding: 0px;
}

.list-menu li {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 0.9s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.list li:nth-child(1) {
  animation-delay: 0.2s;
}

.list li:nth-child(2) {
  animation-delay: 0.4s;
}

.list li:nth-child(3) {
  animation-delay: 0.6s;
}

.card-plat {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 18px;
  padding: 12px 0 15px 12px;
  width: 90%;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
}
.card-plat b {
  display: flex;
  align-self: flex-end;
}
.card-plat span {
  display: none;
}
.card-plat:hover span {
  display: block;
}
.card-plat section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-plat h3 {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.card-plat p {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.btn_command {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 15px;
}/*# sourceMappingURL=stylesmenu.css.map */